<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulations! Pizza Fraction Master!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/celebration.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <div class="celebration-container">
        <div class="badge-image">
            <img src="/static/badge.png" alt="Pizza Pro Badge">
        </div>
        <div class="celebration-message">
            Congratulations!<br>
            You are a Pizza Fraction Master!
        </div>
        <div class="celebration-sub">
            <strong>You completed all the pizza fraction challenges.</strong><br>
            <span style="font-size:1.5em;">🍕🎉</span>
        </div>
        <a href="/game" class="restart-btn" style="margin-top:10px;">Play Again</a>
        <a href="/" class="restart-btn" style="margin-top:16px;">Return to Menu</a>
    </div>
</body>
</html>